{% extends 'server/master.html' %}
{% load static %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/css/detail.css' %}">
{% endblock %}

{% block page_title %}
Detail page
{% endblock %}

{% block page_content %}
<div class="category-detail">
    <ul>
        {% for item in category_list %}
        {% if item.id == object.id %}
        <li>
            {{ item.name }} (текущая категория)</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'categories:category' idx=item.id %}" class="category_list">{{ item.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<h1>Список продуктов данной категории</h1>
<ul>
{% for item in product_list %}
<li class="product_list_item">
    <span class="product_list_item-name">
        {{ item.name|title }}
    </span>
    <span class="product_list_item-description">
       {{ item.description }}
    </span>
    <span class="product_list_item-cost">
        {{ item.cost }}
    </span>
    <a href="{% url 'products:detail' idx=item.id %}" class="product_list_item-link">Подробнее</a>
</li>
{% endfor %}
</ul>
{% endblock %}
