{% extends 'server/master.html' %}
{% load static %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/css/detail.css' %}">
{% endblock %}

{% block page_title %}
Detail page
{% endblock %}

{% block page_content %}
<div class="product">
    <h1 class="product_name">
        {{ onject.name }}
    </h1>
    <span class="product_description">
        {{ object.description }}
    </span>

    {% if object.image %}
    <img src="{{ object.image.url }}">
    {% else %}
    Здесь должна быть картинка
    {% endif %}

    <span class="product_cost">
        {{ object.cost|default:"Стоимость уточняйте" }}
</span>
</div>
<div>
        <a href="{% url 'basket:add' idx=object.id %}">Купить</a>
    </div>
{% endblock %}
