<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/mainapp/css/index.css" />
</head>

<body>
    <div class="page">
        <header class="page__header">
            <nav class="page__navigation">
                <ul class="navigation-list">
                    <li class="navigation-list__item">
                        <span class="navigation-list__item-text">
                            Главная
                        </span>
                        <a href="/" class="navigation-list__item-link">
                        </a>
                    </li>
                    <li class="navigation-list__item">
                        <span class="navigation-list__item-text">
                            О проекте
                        </span>
                        <a href="/about/" class="navigation-list__item-link">
                        </a>
                    </li>
                    <li class="navigation-list__item">
                        <span class="navigation-list__item-text">
                            Контакты
                        </span>
                        <a href="/contacts/" class="navigation-list__item-link">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="page__content">
            <h1 class="page__title">
                О проекте
            </h1>
            <div class="branding">
                <img src="" alt="" class="branding__background">
                <span class="branding__snippet">
                    Информационная страница Интернет-витрины
                </span>
            </div>
        </div>
        <footer class="page__footer">
            <span class="page__copyright">
                © GeekBrains
            </span>
        </footer>
    </div>
</body>

</html>