{% extends 'server/master.html' %}

{% block page_title %}
Detail page
{% endblock %}

{% block page_content %}
<div class="login">
    <div class="h2 text-center head">
        Вход в систему
    </div>            
    <form class="form-horizontal" action="{% url 'auth:login' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ login_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="войти">
    </form>
</div>
{% endblock %}

{% block content %}


{% endblock %}